{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Count</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Bar</th>
                <td>{{ entity.bar }}</td>
            </tr>
            <tr>
                <th>Friend</th>
                <td>{{ entity.friend }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('count') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('count_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
